node_modules/
/lib/uv
/lib/libuv.a
/lib/libuv-ios.a
*.tmp
.DS_Store
/bin/build
/bin/ssc.exe
/bin/ssc
build/
META-INF/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle
gradlew
gradlew.bat
.project
.settings/
.clang-format
.vimrc
*.gradle*
compile_flags.txt
.classpath
gradle.properties
include/WebView2/README.md
include/WebView2/WebView2.h
include/WebView2/WebView2EnvironmentOptions.h
include/WebView2/WebView2Experimental.h
lib/WebView2LoaderStatic.lib
lib/libuv-ios.a
lib/libuv.a
