# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle
gradlew
gradlew.bat
.project
.settings/
.clang-format
.*rc
.*.env
.vscode
*.gradle*
compile_flags.txt
.classpath
gradle.properties
include/WebView2/README.md
include/WebView2/WebView2.h
include/WebView2/WebView2EnvironmentOptions.h
include/WebView2/WebView2Experimental.h
lib/WebView2LoaderStatic.lib
lib/libuv-ios.a
lib/libuv.a
/lib/uv
/lib/libuv.a
/lib/libuv-ios.a
/bin/build
/bin/ssc.exe
/bin/ssc
build/
META-INF/

# Junk
*.tmp
*.swp
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Node.js things
node_modules/
package-lock.json

# Default output directory
build/

# Provisioning profile
*.mobileprovision
dist/
