node_modules/
/lib/uv
/lib/libuv.a
/lib/libuv-ios.a
*.tmp
.DS_Store
/bin/build
/bin/ssc.exe
/bin/cli
bin/ssc
build/
META-INF/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle
gradlew
gradlew.bat
.project
.settings/
.clang-format
.vimrc
*.gradle*
compile_flags.txt
.classpath
gradle.properties
