body
  border none
  padding 50px

  .context-menu
    height 50px
    width 100px
    margin 10px
    border 1px solid var(--tonic-border)

  .grid
    display grid
    gap 20px
    grid-template-columns 1fr 1fr
    margin-bottom 20px
