@require './styles/index.styl'
@require './views/**/*.styl'

.dragdrop-demo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.draggable, .droppable {
  -webkit-user-select: none;
  -user-select: none;
  display: inline-block;
  width: 250px;
  border: 1px dashed var(--tonic-border);
  padding: 20px;
  margin: 10px;
}

#drag-indicator {
  position: fixed;
  display: none;
  height: 22px;
  width: 22px;
  background: red;
  border-radius: 99em;
  color: white;
  text-align: center;
}

body[dragging] #drag-indicator {
  display: block;
}

body[dragging] .draggable {
  cursor: grabbing;
}

.draggable {
  cursor: grab;
}

.droppable {
  outline: none;
  transform: scale(1);
  transition: transform .2s ease;
}

body[dragging] .droppable:focus,
body[dragging] .droppable:hover {
  transform: scale(1.2);
  border: 1px dashed var(--tonic-accent);
}
