[Desktop Entry]
Encoding=UTF-8
Version={{version}}
Name={{name}}
# Exec must be generated & appended by `toolbox`
Terminal=false
Type=Application
# Icon must be generated & appended by `toolbox`.
# Maybe set StartupWMClass ??
# StartupWMClass=Buckets
Comment={{description}}
Categories={{categories}};
