#
# Build Settings
#
input: src
build: node build.js
output: dist
executable: operator
linux_icon: src/icons/icon.png
mac_icon: src/icons/icon.icns
win32_icon: src/icons/icon.png

#
# Package Metadata
#
version: v0.0.1
versionShort: 0.0
revision: 1
name: Operator
description: A demo appliation
copyRight: Operator Tool Co. © 2021-2022
mac_category: Developer Tools
mac_bundle_identifier: co.optool.demo
linux_categories: Developer
maintainer: Operator Contributors <dev@optool.co>
lang: en-us

#
# Code Signing
#
mac_sign: Voltra Co. BV (DYE7429KTV)
win32_sign: DigiCert Operator Tool Co.

#
# window
#
title: Operator
width: 750
height: 520

#
# Main Process
#
cmd: node main.js

#
# Advanced Compiler Settings, ie -O3, -g
#
flags: -g
arch: x64
