#
# build
#
input: src
output: dist
build: node build.js
version: v0.0.1
versionShort: 0.0
name: Operator
executable: operator
description: A demo appliation
copyRight: Operator Tool Co. © 2021-2022
category: Developer Tools

#
# window
#
title: Operator
width: 750
height: 520
cmd: node
arg: main.js

#
# advanced
#
compiler: clang++-12
flags: -O3
