#
# build
#
input: src
output: dist
build: node build.js
executable: operator
arch: x64

#
# Package Metadata
#
version: v0.0.1
versionShort: 0.0
revision: 1
name: Operator
description: A demo appliation
copyRight: Operator Tool Co. © 2021-2022
mac_category: Developer Tools
linux_categories: Developer
maintainer: Operator Contributors <dev@optool.co>

#
# window
#
title: Operator
width: 750
height: 520
cmd: node
arg: main.js

#
# advanced
#
flags: -O3
