@require 'fonts.styl'
@require 'overrides.styl'

*
  box-sizing border-box
  -webkit-font-smoothing antialiased

::selection
  color white
  background-color var(--tonic-accent)

body
  margin 0
  padding 50px
  overflow overlay
  color var(--tonic-primary)
  font 16px var(--tonic-body)
  background-color var(--tonic-window)

h1, h2, h3, h4
  font-family var(--tonic-subheader)
  letter-spacing 1px
  text-transform uppercase
  color var(--tonic-info)

h1
  font-family var(--tonic-header)

.context-menu
  height 50px
  width 100px
  padding 20px
  height auto
  width 100%
  border 1px solid var(--tonic-border)

.grid
  display grid
  margin-top 20px
  gap 20px
  grid-template-columns 1fr 1fr
  margin-bottom 20px
