#
# Build Settings
#
input: src
build: node build.js
output: dist
executable: op

# Desktop icons for the application
linux_icon: src/icons/icon.png
mac_icon: src/icons/icon.icns
win_icon: src/icons/icon.ico

#
# Package Metadata
#
version: v0.0.1
version_short: 0.0.1
revision: 1
name: op
description: A demo appliation
copyright: Operator Tool Co. © 2021-2022
mac_category: Developer
bundle_identifier: tc.operator.op
bundle_identifier_short: tc.operator.op
entitlements: src/entitlements.plist
linux_categories: Developer
maintainer: Operator Tool Co.
lang: en-us

#
# Code Signing
#
mac_sign: iPhone Distribution: Operator Tools Inc. (Z3M838H537)
win_publisher: CN=Operator Tool Co, O=Operator, L=New York, S=New York, C=US
win_logo: icon.png

#
# iOS Development & Mac App Store Settings
#
apple_team_id: Z3M838H537
apple_distribution_method: ad-hoc
apple_signing_certificate: iPhone Distribution: Operator Tools Inc. (Z3M838H537)
apple_provisioning_profile: distribution.mobileprovision
apple_device_simulator: platform=iOS Simulator,OS=15.0,name=iPhone 13 Pro
mac_appstore_icon: src/icons/mas.jpg

#
# window
#
title: op
env: HOME, APPDATA, XDG_CONFIG_HOME
forward_console: true

#
# Main Process
#
mac_cmd: node main.js
win_cmd: node main.js
linux_cmd: node main.js

#
# Advanced Compiler Settings, ie -O3, -g
#

flags: -O3
debug_flags: -g
arch: amd64
