#
# Build Settings
#
input: src
build: node build.js
output: dist
executable: test-example
linux_icon: src/icons/icon.png
mac_icon: src/icons/icon.icns
win_icon: src/icons/icon.ico

#
# Package Metadata
#
version: v0.0.1
version_short: 0.0.1
revision: 1
name: TestExample
description: A demo appliation
copyright: Socket Supply Co. © 2021-2022
mac_category: Developer Tools
bundle_identifier: co.optool.demo
linux_categories: Developer
maintainer: Socket Supply Co.
lang: en-us

#
# Code Signing
#
mac_sign: Voltra Co. BV (DYE7429KTV)
win_publisher: CN=Socket Supply Co, O=Operator, L=New York, S=New York, C=US
win_logo: icon.png

#
# window
#
title: TestExample
width: 750
height: 520
env: HOME, APPDATA, XDG_CONFIG_HOME
forward_console: true

#
# Main Process
#
mac_cmd: node main.js
win_cmd: nodex main.js
linux_cmd: node main.js

#
# Advanced Compiler Settings, ie -O3, -g
#

flags: -O3
debug_flags: -g
arch: amd64
