name: Socket CI

on: [push]

jobs:
  io-tests:
    uses: socketsupply/socket-io-tests-workflow/.github/workflows/tests.yml@win
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      PACKAGE_PAT: ${{ secrets.PACKAGE_PAT }}
    with:
      skip_git_clone_socket: true
